*{margin: 0; padding: 0}
.menu{max-width: 1000px;display: block;margin: 0 auto}
.imga{max-width: 1000px;}
img{width: 100%;}
h3{color:white;text-align: center;margin-bottom: 1px;padding: 7px;background: black;font-family: Helvetica, sans-serif;}
